@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    xxxxxxxxxxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bubbletea.com">Support@bubbletea.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bubbletea.com">Marketing@bubble.com</a>
</address>